.content-section
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.content-section img
{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.content-section .black-layer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.7) !important;
}
.content-section h1
{
    color: #fff;
    font-size: 55px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    z-index: 10;
}
.content-section p
{
    color: #fff;
    font-size: 19px;
    margin: 10px;
    max-width: 700px;
    z-index: 10;
}
.content-section .button
{
    margin-top: 50px;
    z-index: 10;
}
.content-section .button a
{
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #e0aa6e;
    padding: 15px 20px;
    margin: 0px 10px;
    z-index: 10;
}
.content-section .button a:hover
{
    background: #e0aa6e;
    transition: 0.5s ease;
}
.container
{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .row
{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.gallery
{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.gallery ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.gallery ul li
{
    list-style: none;
    background: #fff;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s ease;
}
section ul li.active,
section ul li:hover
{
    background: #e0aa6e;
    color: #fff;
    transition: 0.5s ease;
}
.trip
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.trip .itembox
{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
}
.trip .itembox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.trip .itembox.hide
{
    display: none;
}
.image-section
{
    width: 100%;
}
.image-section img
{
    width: 90%;
    height: auto;
    margin: auto;
}
.content
{
    width: 100%;
}
.content h1
{
    font-size: 45px;
    color: #201e21;
}
.content h3
{
    font-size: 21px;
    margin: 10px 0px;
    color: #7a7a7a;
}
.content p
{
    font-size: 16px;
    margin-bottom: 50px;
}
.content a
{
    text-decoration: none;
    background: #201e21;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    border-radius: 20px;
}
.content a:hover
{
    background-color: #e0aa6e;
    transition: 0.5s ease;
}
.news-section
{
    width: 100%;
}
.news-section .section-content
{
    padding: 0px 100px;
    margin: 40px auto;
}
.news-section .section-content .title
{
    width: 100%;
    text-align: center;
    margin: auto;
}
.news-section .section-content .title h2
{
    font-size: 45px;
    color: #201e21;
    text-transform: uppercase;
}
.news-section .section-content .title p
{
    font-size: 19px;
    color: #7a7a7a;
    margin-top: 20px;
}
.news-section .section-content .cards
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin: 50px auto;
}
.news-section .section-content .cards .card
{
    width: 100%;
    background: #f7f7f7;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.8);
}
.news-section .section-content .cards .card img
{
    width: 100%;
    height: auto;
}
.news-section .section-content .cards .card .article
{
    padding: 15px 28px;
}
.news-section .section-content .cards .card .article h4
{
    font-size: 24px;
    color: #2b2b2b;
}
.news-section .section-content .cards .card .article p
{
    font-size: 15px;
    margin: 10px 0;
    color: #7a7a7a;
}
.news-section .section-content .cards .card a
{
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    background: #201e21;
    padding: 8px 15px;
    border-radius: 20px;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 20px;
}
.news-section .section-content .cards .card a:hover
{
    background: #e0aa6e;
    transition: 0.5s ease;
}


@media screen and (max-width:992px)
{
    .news-section .section-content .cards
    {
    grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:768px)
{
    
    /*------------------------------*/
    .content-section h1
    {
        font-size: 45px;
    }
    .content-section .button a
    {
        padding: 12px 18px;
        margin: 10px 10px;
    }
    /*--------------------------------*/
    .container
    {
        width: 100%;
        margin: 60px 0px;
    }
    .container .row
    {
        flex-direction: column;
        padding: 60px 30px;
    }
    .content
    {
        width: 100%;
        margin: 25px 0px;
    }
    .image-section img
    {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .content h1
    {
        font-size: 36px;
    }
    .content h3
    {
        font-size: 19px;
    }
    .content a
    {
        font-size: 18px;
    }
    /*----------------------------*/
    .news-section .section-content .cards
    {
    grid-template-columns: 1fr;
    }
    .news-section .section-content
    {
        padding: 0px 60px;
    }
}
@media screen and (max-width:550px)
{
    .content-section h1
    {
        font-size: 30px;
        padding: 10px;
    }
    .content-section p
    {
        padding: 10px;
        font-size: 15px;
    }
    .content-section .button a
    {
        padding: 8px 12px;
    }
    .row
    {
        width: 90%;
    }
    .title
    {
        width: 100% !important;
    }
}